/build
/.gradle
/.idea
/gradle
/backup
/src/test/resources/hibernatetest.properties
/schedule_logs
/env

# Ignore .terraform directories in all subfolders of terraform
terraform/**/.terraform/


# Ignore .tfstate, .hcl, .tfstate.backup, and .tfvars files in all subfolders of terraform
terraform/**/*.tfstate
terraform/**/*.hcl
terraform/**/*.tfstate.backup
terraform/**/*.tfvars

# Ignore .npmrc
frontend/.npmrc
