global:
  scrape_interval: 15s  # Set the global scrape interval to 15 seconds

scrape_configs:
  - job_name: 'node_exporter'
    ec2_sd_configs:
      - region: {{ aws_region }}
        filters:
          - name: tag:Role
            values:
              - node-exporter

    relabel_configs:
      - source_labels: [__meta_ec2_private_ip]
        target_label: __address__
        replacement: ':9100'
        action: replace

  - job_name: 'cloudwatch_exporter'
    ec2_sd_configs:
      - region: {{ aws_region }}
        filters:
          - name: tag:Role
            values:
              - cloudwatch-exporter

    relabel_configs:
      - source_labels: [__meta_ec2_private_ip]
        target_label: __address__
        replacement: ':9106'
        action: replace