region: {{ aws_region }}
metrics:
  - namespace: AWS/ElastiCache
    metrics:
      - Name: CacheHits
        Statistics:
          - Average
          - Sum
      - Name: CacheMisses
        Statistics:
          - Average
          - Sum
  - namespace: AWS/RDS
    metrics:
      - Name: CPUUtilization
        Statistics:
          - Average
          - Maximum
      - Name: FreeStorageSpace
        Statistics:
          - Average
          - Minimum
  - namespace: AWS/DocDB
    metrics:
      - Name: CPUUtilization
        Statistics:
          - Average
          - Maximum
      - Name: FreeStorageSpace
        Statistics:
          - Average
          - Minimum
