[Unit]
Description=CloudWatch Exporter
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/cloudwatch_exporter /etc/cloudwatch_exporter.yml

[Install]
WantedBy=multi-user.target
