region: {{ aws_region }}
metrics:
  - aws_namespace: AWS/ElastiCache
    aws_dimensions:
      - CacheClusterId
    aws_metric_name: CacheHits
    aws_statistics:
      - Average
      - Sum
  - aws_namespace: AWS/ElastiCache
    aws_dimensions:
      - CacheClusterId
    aws_metric_name: CacheMisses
    aws_statistics:
      - Average
      - Sum
  - aws_namespace: AWS/RDS
    aws_dimensions:
      - DBInstanceIdentifier
    aws_metric_name: CPUUtilization
    aws_statistics:
      - Average
      - Maximum
  - aws_namespace: AWS/RDS
    aws_dimensions:
      - DBInstanceIdentifier
    aws_metric_name: FreeStorageSpace
    aws_statistics:
      - Average
      - Minimum
  - aws_namespace: AWS/DocDB
    aws_dimensions:
      - DBInstanceIdentifier
    aws_metric_name: CPUUtilization
    aws_statistics:
      - Average
      - Maximum
  - aws_namespace: AWS/DocDB
    aws_dimensions:
      - DBInstanceIdentifier
    aws_metric_name: FreeStorageSpace
    aws_statistics:
      - Average
      - Minimum

